<app-listado-generico [listado]="peliculas">

  <ng-container contenido>

    <div class="peliculas-contenedor">

      <div *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor">

        <a [routerLink]="'/peliculas/' + pelicula.id">
          <img [src]="pelicula.poster" alt="Poster">
        </a>

        <p>
          <a [routerLink]="'/peliculas/' + pelicula.id">{{pelicula.nombre}}</a>
        </p>

        <div>
          <a mat-flat-button color="primary" [routerLink]="'/peliculas/editar/' + pelicula.id">Editar</a>
          <button mat-flat-button color="warn" type="button"
          [swal]="{title: 'Confirmación', text: 'Borrar registro, Confirmar', showCancelButton: true}"
          (confirm)="borrar(pelicula.id)">Borrar</button>
        </div>


        <!-- <div>
          <h2> Pelicula {{index + 1}}: {{pelicula.titulo}}
            <button style="margin-left: 1rem" (click)="remover(index)">Remover</button>
          </h2>
        </div>
        <div>
          {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}}
        </div>
        <div>
          {{pelicula.precio | currency}}
        </div>
      </div> -->
      </div>
    </div>
  </ng-container>
</app-listado-generico>
