<!-- <input type="file" #cargador style="display: none;">
<button (click)="cargador.click()">Cargar archivo</button> -->

<app-menu></app-menu>

<!-- <app-rating (rated)="manejarRated($event)"></app-rating> -->

<!-- <div>
  <input type="text" (input)="title = $event.target.value" />
</div>

<div>
  <input type="checkbox" checked (change)="ocultar = !ocultar" />Ocultar
</div>

<app-ciclo-de-vida *ngIf="ocultar" [titulo]="title"></app-ciclo-de-vida> -->


<div class="contenedor">

  <router-outlet></router-outlet>


 <!--  <input type="file" style="display: none;" #cargador>
  <button (click)="cargador.click()">Cargar Archivo</button> -->

</div>
